# Dependencias (las carpetas más pesadas)
node_modules/
jspm_packages/

# Compilación
dist/
build/

# Variables de entorno (seguridad)
.env
.env.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db